build-*/
bin/
lib/g-d-test/
lib/g-gui-d-test/
lib/g-gui-test/
lib/g-test/
lib/libg/
lib/libg-d/
lib/libg-gui/
lib/libg-gui-d/
setup/linux/
setup/win/
temp-build/
*.stash
*.a
*.autosave
*.bak
*.json
*.log
*.moc
*.o
*.pro.user
*.so
*.dll
*.exe
*.user
*.apk
Makefile
Makefile.*
makefile-win
moc_*
qrc_*
ui_*
